@import '../../styles/settings.scss';

.container{
  display: flex;
  justify-content: center;

  .column{
    padding-top: 20%;
    width: 30%;
  }
  .card{
    text-align: center;
    color: black;
  }
} 